article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto;
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-5xl font-inter text-citybreakteal-500 font-semibold italic my-8;
    }

    h2 {
        @apply text-4xl font-inter text-citybreakteal-500 font-semibold italic my-4;
    }

    h3 {
        @apply text-3xl font-inter text-citybreakteal-500 font-semibold italic my-4;
    }

    h4 {
        @apply text-2xl font-inter text-citybreakteal-500 font-semibold italic my-4;
    }

    h5 {
        @apply text-2xl font-sourcesanspro;
    }

    h6 {
        @apply text-base font-sourcesanspro font-bold;
    }

    .microcontent h4 {
        @apply text-white;
    }

    p, ul, ol {
        a {
            @apply text-citybreakteal-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-4 text-base font-sourcesanspro;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
        li ul {
            @apply ml-6;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
        li ol {
            @apply ml-6;
        }
    }

    .wp-block-buttons {
        @apply my-4;
    }

    .wp-block-quote {
        @apply border-none mx-auto p-0 text-center md:w-2/3; 
    }   

    .wp-block-quote p {
        @apply text-3xl font-inter text-citybreakteal-500; 
    }   
    .wp-block-quote cite {
        @apply text-sm font-sourcesanspro text-citybreakteal-300; 
    }   
    
}

/* Hamburger menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top, 
.hamburger-middle, 
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
}
.hamburger-middle {
    transform: translateY(7px);
}
.hamburger-bottom {
    transform: translateY(14px);
}
.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}
.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}
.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}      
